<!--Training Evaluation Form-->

<div class="ui evaluation long blurring small modal scrolling" ng-controller="evaluationFormController" id="evaluation-form">
    <div class="header" style="padding-bottom: 8px; padding-top: 8px; text-align: center; font-size: 16px;">
        <span>{{FORM_NAME}}</span>
    </div>
    <div>
        <div>
            <div id="evaluation_zone">
                <div class="content" style="height: 420px; height: 410px; margin: 10px 30px;">
                    <div class="description" id="form-group">
                        <!--Question element-->
                        <div id="question-list">

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="ui inverted dimmer" style="border-radius: 3px;">
        <div class="ui text loader">{{LOADING_STATE}}</div>
    </div>

    <div class="actions">
        <div class="ui mini deny button">Cancel</div>
        <div class="ui mini primary button" ng-click="submitForm(SESSION_ID)">Submit</div>
    </div>
</div>

<div class="ui quiz long blurring small modal scrolling" ng-controller="quizFormController" id="quiz-form">
    <div class="header" style="padding-bottom: 8px; padding-top: 8px; text-align: center; font-size: 16px;">
        <span>{{QUIZ_NAME}}</span>
    </div>
    <div>
        <div>
            <div id="quiz-evaluation_zone">
                <div class="content" style="height: 420px; height: 410px; margin: 10px 30px;">
                    <div class="description" id="form-group">
                        <!--Question element-->
                        <div id="quiz-question-list">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="ui inverted dimmer" style="border-radius: 3px;">
        <div class="ui text loader">{{LOADING_STATE}}</div>
    </div>

    <div class="actions">
        <div class="ui mini deny button">Cancel</div>
        <div class="ui mini primary button" ng-click="submitForm(SESSION_ID)">Submit</div>
    </div>
</div>