<div class="three wide column global-stats" style="margin-top: -5px;">
    <div class="row" style="width: 127.5%;">
        <div class="ui horizontal section divider no_margin full_width">
            <h5>
                <small>Admin Stats</small>
            </h5>
        </div>
        <div class="ui segment" style="height: 517px; margin-top: 7px;">
            <!--<div>
                <button class="ui fluid mini button">User Evolution</button>
            </div>-->
            <div style="margin-top: 5px;">
                <button class="ui fluid mini button" ng-click="showReports()">Reports</button>
            </div>
        </div>
    </div>
<!--
    <div class="row" style="width: 127.9%; margin-top: -20px;">
        <div class="ui horizontal section divider no_margin full_width">
            <h5>
                <small>Help / Feedback</small>
            </h5>
        </div>
        <div class="ui segment" style="height: 53px; width: 237px; margin-top: 5px; padding: 0px;">
            <div class="ui buttons fluid" style="height: 53px;">
                <button class="ui button">Help</button>
                <div class="divider"></div>
                <button class="ui notif button">Feedback</button>
                <div class="ui flowing notif basic popup"
                     style="height: 330px; width: 739px; padding-right: 7px; padding-left: 7px; padding-top: 7px;">
                    <div>
                        <a style="float: right; margin-top: -5px; margin-right: -10px;"><i
                                    class=" ui orange remove link icon large"></i></a>
                    </div>
                    <div>
                        <form class="ui form" style="margin: 0px; padding: 0px; margin-top: 20px;"
                              method="post">
                            <div class="field" style="margin-bottom: 0px;">
                                <div class="ui label" style="margin-bottom: 10px;"><em>Fill in your
                                        feedback.
                                        This may include improvements to the application, recommendations or
                                        what you like about it. Feel totally free.</em></div>
                            </div>
                            <div class="field">
                                <textarea rows="10" id="feedback-textarea"></textarea>
                            </div>
                            <div style="margin-top: -5px;">
                                <div class="ui checkbox" style="float: left;">
                                    <input type="checkbox" name="">
                                    &lt;!&ndash;<label style="font-size: small;">Show hidden Training</label>&ndash;&gt;
                                    &lt;!&ndash;<label style="font-size: small;">Show hidden Quiz </label>&ndash;&gt;
                                    <label style="font-size: small;">Submit as Anonymous</label>
                                </div>
                                <div class="ui primary submit right floated button"
                                     style="border-radius: 0.285714rem;">Submit
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
-->
</div>
